/*
Theme Name: chor-kiu-makeup-child
Description: Chor Kiu Makeup Child Theme
Author: JerryLiu
Author URI:   https://code-word.press/
Template: flatsome
Version: 3.3.2
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  chor-kiu-makeup-child
*/

/*************** ADD CUSTOM CSS HERE.   ***************/
.account-user.circle span.image {
  position: relative;
}

.account-user.circle span.image .modify,
.dd_file_upload .modify {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  font-size: 13px;
  cursor: pointer;
  transition: 0.5s;
  z-index: 2;
}

.account-user.circle span.image:hover .modify,
.dd_file_upload:hover .modify {
  opacity: 1;
}

.account-user.circle #user_avatar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.dd_file_upload {
  margin-right: 15px;
}
.vendor_avatar {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 100%;
  margin-bottom: 24px;
}

body .circle img,
body .comment-author .avatar {
  object-fit: cover;
}

@media only screen and (max-width: 48em) {
  /*************** ADD MOBILE ONLY CSS HERE  ***************/
}
